<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabadell.bs_token">

  <application>
    <activity android:name=".internal.presentation.RedsysPaymentActivity"
        android:screenOrientation="portrait"/>
    <activity android:name=".internal.presentation.RedsysTokenizeCreditCardActivity"
        android:screenOrientation="portrait"/>
  </application>

</manifest>
